<div fxLayout="row" fxLayoutAlign="space-between stretch" class="full-height">
  <div fxFlex="25" class="p-5" class="sidebar">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="p-y-5">
      <div fxFlex="85"></div>
      <div fxFlex="15">
        <button mat-icon-button color="primary" (click)="addNew()">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
    <div *ngFor="let note of notesList.slice().reverse()" class="m-x-5">
      <mat-card class="m-t-5" [ngClass]="note.selected ? 'highlight':''" (click)="changeCardColor(note);"
        [routerLink]="['/notes/', note.id]">
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="90">
              <p class="word-ellipses"><b>{{note.title}}</b></p>
              <p class="word-ellipses">{{note.description}}</p>
              <p>{{note.timestamp}}</p>
            </div>
            <button fxFlex mat-icon-button color="warn" (click)="deleteNote(note)">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="75" class="p-5">
    <div *ngIf="notesList.length > 0">
      <router-outlet></router-outlet>
    </div>
    <div class="center" *ngIf="notesList.length === 0">
      Please create or select a note
    </div>
  </div>
</div>
