/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px;}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
}

/* Paddings */

.p-5 {
  padding: 5px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-x-5 {
  padding: 0px 5px;
}

.p-x-10 {
  padding: 0px 10px;
}

.p-x-15 {
  padding: 0px 15px;
}

.p-y-5 {
  padding: 5px 0px;
}

.p-y-10 {
  padding: 10px 0px;
}

.p-y-15 {
  padding: 15px 0px;
}

/* Margins */

.m-t-5 {
  margin-top: 5px;
}

.m-x-5 {
  margin: 0px 5px;
}

.m-x-10 {
  margin: 0px 10px;
}

.m-x-15 {
  margin: 0px 15px;
}

.m-y-5 {
  margin: 5px 0px;
}

.m-y-10 {
  margin: 10px 0px;
}

.m-y-15 {
  margin: 15px 0px;
}
