<form [formGroup]="notesForm" novalidate>
  <div fxLayout="column" fxLayoutAlign="start none">
    <div fxFlex="10" class="time">
      <p>{{noteDate}}</p>
    </div>
    <div fxFlex="20">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter Your Title</mat-label>
        <input matInput type="text" placeholder="Title" formControlName="title" (keyup)="updateNoteTitle($event)">
        <mat-error>Please enter title</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="40" class="p-r-15">
      <textarea rows="20" formControlName="description" placeholder="Enter Your Description"
      class="full-width text-area"></textarea>
    </div>
    <div fxFlex="20" style="text-align: center;">
      <button mat-raised-button color="primary" size="small" [disabled]="!notesForm.valid" (click)="saveNote(notesForm.value)">Save</button>
    </div>
  </div>
</form>
